@media screen and (min-width: 481px){
#body{background: black;color:white}
.inp{background:darkgreen;color:white;border:1px solid white;}
.out{background:black;color:white;border:1px solid white;}
#mid{border:1px solid white}
}